<footer class="footer mt-auto">
<div id="footer-details" class="container-fluid">
    <div class="row p-3">
        <div class="col-md-4">
            <div class="row social_titles justify-content-center">
                <p> Follow Us</p>
            </div>
            <div class="row justify-content-center footer-icons">
                <ul class="social_media">
                    <li class="list-inline-item"><a href="http://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f text-white fa-2x mx-2"></i></a></li>
                    <li class="list-inline-item"><a href="http://www.instagram.com/" target="_blank"><i class="fab fa-instagram text-white fa-2x mx-2"></i></a></li>
                    <li class="list-inline-item"><a href="http://www.twitter.com/" target="_blank"><i class="fab fa-twitter text-white fa-2x mx-2"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p text-white fa-2x  mx-2"></i></a></li>
                </ul>
             </div>
        </div>
     
        <div class="col-md-4">
            <div class="row social_titles justify-content-center">
                <p>Our Kitchen</p>
            </div>
            <div class="row justify-content-center">
                <address class="text-white text-center"> 46, Bray Street,<br> Dublin 2,<br>Republic of Ireland</address>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row social_titles justify-content-center">
                <a href="{% url 'contact' %}" class="text-white">Contact Us</a>
            </div>
            <div class="row justify-content-center footer-icons mt-3">
                <ul class="contact p-0">
                    <li class="list-inline-item"><a href="{% url 'contact' %}" target="_blank"><i class="fas fa-phone-volume text-white fa-2x mx-2"></i></a></li>
                    <li class="list-inline-item"><a href="{% url 'contact' %}" target="_blank"><i class="fas fa-envelope text-white fa-2x mx-2"></i></a></li>
                    <li class="list-inline-item"><a href="{% url 'contact' %}" target="_blank"><i class="far fa-address-card text-white fa-2x mx-2"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>