{% extends 'base.html' %}
{% load static %}

{% block content %}

<main role="main" class="flex-shrink-0">
<div class="container-fluid p-0">
    <div class="jumbotron jumbotron-index"> 
        <div class="overlay mx-auto p-4 text-center">
            <p class="jumbotron_shoutout">Welcome</p>
            <hr class="my-4">
            <p id="school_intro">Do you want to learn a new skill or upskill?</p>
            <p class="intro_messages">We have short baking courses that run weekdays and weekends to suit your busy life.</p> 
            <p class="intro_messages font-italic font-weight-bold">It is never too late to learn and get started!</p>
        </div>
    </div>
</div>
<div id="news" class="container-fluid bg-light">
    <div class=" col-md-12 text-center">
        <h2 class="pt-4">Next Baking Course </h2>
        {% if courses %}
            {% for course in courses %}
                <h3>{{course.title}}</h3>
                <h4 class="pb-4">Weekday {{course.weekday_datetime}} Weekends {{course.weekends_datetime}} </h4>
            {% endfor %}
        {% else %}
        <div class="col-md-12 pb-3">
            <h4>There no courses available </h4>
        </div>
        {% endif %}
        </div>
</div>

<div id="browse" class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2> Have a Browse </h2>
            <p> Never too late to learn or improve your baking skills </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card index-card">
                <img class="img-index card-img-top img-thumbnail" src="{% static 'img/baking.jpg' %}" alt="Card image cap">
                <div class="card-body cardbody1 text-center">
                <a href="{% url 'courses' %}" class="card-link">Courses</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card index-card">
                <img class="img-index card-img-top img-thumbnail" src="{% static 'img/gifts.jpg' %}" alt="Card image cap">
                <div class="card-body cardbody2 text-center">
                <a href="giftvouchers.html" class="card-link">Gift Vouchers</a>
                </div>
            </div>
        </div>
    </div>  
</div>

<div class="container-fluid bg-light pb-5">
    <div class="row comments">
        <div class="col-md-12 text-center">
            <h3 class="mt-4 mb-4"> What our students have said...</h3>
        </div>      
    </div>

    <div class="row mt-2 text-center comments">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p>"Wonderful evening class with Ashleigh that I have learned to bake my first bread." </p>
                    <ul class="ratings">
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                    </ul>
                    <h6> Paul Crewey </h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p>"Friendly environment and met new friends who have same passions in baking."</p>
                    <ul class="ratings">
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                    </ul>
                    <h6> Jessica Burn </h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p>"Ashleigh and Gordon have taken baking skills to next level of fun and exploring." </p>
                    <ul class="ratings">
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                    </ul>
                    <h6> Shishimita Yumiko </h6>
                </div>
            </div>
        </div>
    </div>
</div>
</main>

{% endblock %}
